@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=PT+Sans&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  color: #333;
}

body {
  padding: 16px;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2.5rem 0;
  margin: 0 auto;
}

main.tight {
  max-width: 550px;
}

article,
div.container {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 28px;
}

h3 {
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 2px;
}

h6 {
  color: #666;
  font-size: 0.85em;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a,
a:visited {
  color: #326891;
}

a.project-link {
  color: #000;
}

/* desktop */
@media (min-width: 768px) {
  h1 {
    font-size: 34px;
  }

  /* main {
    padding: 5rem 0;
  } */
}
