.markdown p {
  line-height: 1.7;
  margin-bottom: 20px;
}

.markdown pre {
  margin: 24px 0px;
  line-height: 1.5;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.markdown pre code {
  padding: 1em;
}

.markdown p code {
  padding: 0.25em;
  font-size: 16px;
  font-weight: bold;
}
